@use "./utils" as *;
.header{
  width: 90%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  &__theme{
    display: flex;
    align-items: center;
    &[data-theme="light"]{
      span{
        color: $text-dark2;
      }
    }
    &[data-theme="cyber"]{
      span{
        color: $light-yellow;
      }
    }
    span{
      margin-right: 1em;
      text-transform: uppercase;
    }
  }
  h1 {
    &[data-theme="light"] {
      color: $text-dark2;
    }

    &[data-theme="cyber"] {
    color: $light-yellow;
    }
  }
}