@use './utils' as *;
.wrapper{
  width: 100%;
  min-height: 100vh;
  //max-width: 1440px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $pagebg;
  &[data-theme="light"]{
    background-color: $pagebg2;
  }
  &[data-theme="cyber"]{
    background-color: $pagebg3;
  }
}