//theme 1
$pagebg: hsl(222, 26%, 31%);
$keypad: hsl(223, 31%, 20%);
$screen: hsl(224, 36%, 15%);
  //keys
$key-bg: hsl(225, 21%, 49%);
$key-shadow: hsl(224, 28%, 35%);
$key-red: hsl(6, 63%, 50%);
$key-red-shadow: hsl(6, 70%, 34%);
$key-hover-bg: hsl(30, 25%, 89%);
$key-hover-shadow: hsl(28, 16%, 65%);
  //text
  $text-dark: hsl(221, 14%, 31%);

//theme 2
$pagebg2: hsl(0, 0%, 90%);
$keypad2: hsl(0, 5%, 81%);
$screen2: hsl(0, 0%, 93%);
//keys
$key-bg2: hsl(185, 42%, 37%);
$key-shadow2: hsl(185, 58%, 25%);
$key-red2: hsl(25, 98%, 40%);
$key-red-shadow2: hsl(25, 99%, 27%);
$key-hover-bg2: hsl(45, 7%, 89%);
$key-hover-shadow2: hsl(35, 11%, 61%);
//text
$text-dark2: hsl(60, 10%, 19%);

//theme 3
$pagebg3: hsl(268, 75%, 9%);
$keypad3: hsl(268, 71%, 12%);
$screen3: hsl(268, 71%, 12%);
//keys
$key-bg3: hsl(281, 89%, 26%);
$key-shadow3: hsl(285, 91%, 52%);
$key-red3: hsl(176, 100%, 44%);
$key-red-shadow3: hsl(177, 92%, 70%);
$key-hover-bg3: hsl(268, 47%, 21%);
$key-hover-shadow3: hsl(290, 70%, 36%);
//text
$light-yellow: hsl(52, 100%, 62%);
$dark-blue: hsl(198, 20%, 13%);